<div class="container">
  <h3 style="text-align: center;">THE DYING BEE</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "janenew_1.0.jpg", class: "first-img"%><%= image_tag "janenew_1.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_1.0.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_1.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "janenew_2.0.jpg", class: "first-img"%><%= image_tag "janenew_2.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_2.0.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_2.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "janenew_3.0.jpg", class: "first-img"%><%= image_tag "janenew_3.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_3.0.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_3.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "janenew_4.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "janenew_5.0.jpg", class: "first-img"%><%= image_tag "janenew_5.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_5.0.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_5.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "janenew_6.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "janenew_7.0.jpg", class: "first-img"%><%= image_tag "janenew_7.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_7.0.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "janenew_7.1.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
