<div class="container">
  <h3 style="text-align: center;">FEEKA SS21</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "feeka_header.jpg", class: "first-img"%><%= image_tag "feeka2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka_header.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka2.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "feeka3.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "feeka4.jpg", class: "first-img"%><%= image_tag "feeka5.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka4.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka5.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "feeka6.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "feeka7.jpg", class: "first-img"%><%= image_tag "feeka8.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka7.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka8.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "feeka9.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "feeka10.jpg", class: "first-img"%><%= image_tag "feeka11.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka10.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "feeka11.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "feeka12.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
