<div class="container">
  <h3 style="text-align: center;">E-SHOP HOLIDAY BOILEAU</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "h_header2.jpg", class: "first-img"%><%= image_tag "h_header1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h_header2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h_header1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "h2.jpg", class: "first-img"%><%= image_tag "h2.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h2.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "h3.jpg", class: "first-img"%><%= image_tag "h3.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h3.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h3.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "h4.jpg", class: "first-img"%><%= image_tag "h4.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h4.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h4.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "h5.jpg", class: "first-img"%><%= image_tag "h5.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h5.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h5.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "h6.jpg", class: "first-img"%><%= image_tag "h6.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h6.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h6.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "h7.jpg", class: "first-img"%><%= image_tag "h7.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h7.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "h7.1.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
