<div class="container">
  <h3 style="text-align: center;">HOLIDAY BOILEAU FW21</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "holidayFW21_1.1.jpg", class: "first-img"%><%= image_tag "holidayFW21_1.2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_1.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_1.2.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "holidayFW21_2.1.jpg", class: "first-img"%><%= image_tag "holidayFW21_2.2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_2.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_2.2.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "holidayFW21_3.1.jpg", class: "first-img"%><%= image_tag "holidayFW21_3.2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_3.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_3.2.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "holidayFW21_4.1.jpg", class: "first-img"%><%= image_tag "holidayFW21_4.2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_4.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_4.2.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "holidayFW21_5.1.jpg", class: "first-img"%><%= image_tag "holidayFW21_5.2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_5.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "holidayFW21_5.2.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
