<div class="container">
  <h3 style="text-align: center;">E-SHOP HOLIDAY BOILEAU</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "h_header2.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h_header1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h2.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h2.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h3.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h3.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h4.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h4.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h5.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h5.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h6.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h6.1jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h7.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h7.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h8.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "h8.1.jpg", class:'d-block' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
