<div class="container">
  <h3 style="text-align: center;">YOU AND I ARE EARTH</h3>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "jm_header.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item active">
        <%= image_tag "jm1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm2.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm3.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm3.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm4.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm4.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm5.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm6.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm6.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jm7.jpg", class:'d-block' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <p>Photographe : Carole Peyrot</p>

  <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>

</div>
