<div class="container">
  <h3 style="text-align: center;">YOU AND I ARE EARTH</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "jm_header.jpg", class: "first-img"%><%= image_tag "jm1.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm_header.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm1.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jm2.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "jm3.jpg", class: "first-img"%><%= image_tag "jm3.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm3.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm3.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "jm4.jpg", class: "first-img"%><%= image_tag "jm4.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm4.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm4.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jm5.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "jm6.jpg", class: "first-img"%><%= image_tag "jm6.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm6.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "jm6.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jm7.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
