<div class="container">
  <h3 style="text-align: center;">YOU AND I ARE EARTH</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide half"><%= image_tag "jm_header.jpg"%><%= image_tag "jm1.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jm2.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jm3.jpg"%><%= image_tag "jm3.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jm4.jpg"%><%= image_tag "jm4.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jm5.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jm6.jpg"%><%= image_tag "jm6.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jm7.jpg"%></div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
