<div class="container">
  <h3 style="text-align: center;">HEIRLOOM</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide half"><%= image_tag "jane_header.jpg"%><%= image_tag "jane1.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jane2.jpg"%><%= image_tag "jane2.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jane3.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jane4.jpg"%><%= image_tag "jane4.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "jane5.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jane6.jpg"%><%= image_tag "jane6.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "jane7.jpg"%><%= image_tag "jane7.1.jpg"%></div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
