<div class="container">
  <h3 style="text-align: center;">LOOKBOOK LE LUCO</h3>
  <p style="text-align: center;">Photographe : Carole Peyrot</p>


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "luco_header.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco2.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco2.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco3.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco3.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco4.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco4.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco5.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco5.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco6.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco6.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco7.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "luco7.1.jpg", class:'d-block' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
