<div class="container">
  <h3 style="text-align: center;">LOOKBOOK LE LUCO</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "luco_header.jpg", class: "first-img"%><%= image_tag "luco1.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco_header.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco1.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "luco2.jpg", class: "first-img"%><%= image_tag "luco2.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco2.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "luco3.jpg", class: "first-img"%><%= image_tag "luco3.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco3.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco3.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "luco4.jpg", class: "first-img"%><%= image_tag "luco4.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco4.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco4.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "luco5.jpg", class: "first-img"%><%= image_tag "luco5.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco5.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco5.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "luco6.jpg", class: "first-img"%><%= image_tag "luco6.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco6.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco6.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "luco7.jpg", class: "first-img"%><%= image_tag "luco7.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco7.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "luco7.1.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
