<div class="container">
  <h3 style="text-align: center;">GIRL IN AMBER</h3>
  <p style="text-align: center;">Matthieu Delbreuve</p>

  <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide half"><%= image_tag "mathieu_header.jpg"%><%= image_tag "mathieu1.jpg"%></div>
        <div class="swiper-slide half"><%= image_tag "mathieu2.jpg"%> <%= image_tag "mathieu2.1.png"%></div>
        <div class="swiper-slide"><%= image_tag "mathieu3.jpg"%></div>
        <div class="swiper-slide half"><%= image_tag "mathieu4.png"%> <%= image_tag "mathieu4.1.png"%></div>
        <div class="swiper-slide"><%= image_tag "mathieu5.jpg"%></div>
      </div>

      <div class="swiper-scrollbar"></div>
    </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
