<div class="container">
  <h3 style="text-align: center;">MORGAN SS20</h3>
  <p style="text-align: center;">Marion Barat</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "morgan_header.jpg", class: "first-img"%><%= image_tag "morgan4.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "morgan_header.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "morgan4.1.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "morgan2.jpg", class: "first-img"%><%= image_tag "morgan2.1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "morgan2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "morgan2.1.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
