<div class="container">
  <h3 style="text-align: center;">E-SHOP DES PETITS HAUTS</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide half"><%= image_tag "ph_header.jpg"%><%= image_tag "ph1.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "ph2.jpg"%><%= image_tag "ph2.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "ph3.jpg"%><%= image_tag "ph3.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "ph4.jpg"%><%= image_tag "ph4.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "ph5.jpg"%><%= image_tag "ph5.1.jpg"%></div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
