<div class="container">
  <h3 style="text-align: center;">FIRST RAY</h3>
  <p style="text-align: center;">Remi Desclaux</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag "remy_header.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "remy2.jpg"%><%= image_tag "remy2.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "remy3.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "remy4.jpg"%><%= image_tag "remy4.1.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "remy5.jpg"%><%= image_tag "remy5.1.jpg"%></div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
