<div class="container">
  <h3 style="text-align: center;">FIRST RAY</h3>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "remy_header.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy2.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy2.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy3.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy4.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy4.1.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy5.jpg", class:'d-block' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "remy5.1.jpg", class:'d-block' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <p>Photographe : Remi Desclaux</p>

  <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>

</div>
