<div class="container">
  <h3 style="text-align: center;">SUNCOO FW21</h3>
  <p style="text-align: center;">Carole Peyrot</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide xl-only"><%= image_tag "bekhti1.jpg", class: "first-img"%><%= image_tag "bekhti2.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti1.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti2.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "bekhti3.jpg", class: "first-img"%><%= image_tag "bekhti4.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti3.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti4.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "bekhti5.jpg", class: "first-img"%><%= image_tag "bekhti6.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti5.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti6.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "bekhti7.jpg", class: "first-img"%><%= image_tag "bekhti8.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti7.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti8.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "bekhti9.jpg", class: "first-img"%><%= image_tag "bekhti10.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti9.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti10.jpg"%></div>
      <div class="swiper-slide xl-only"><%= image_tag "bekhti11.jpg", class: "first-img"%><%= image_tag "bekhti12.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti11.jpg"%></div>
      <div class="swiper-slide xs-only"><%= image_tag "bekhti12.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="javascript:history.back()"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
