<div class="container">
  <h3 style="text-align: center;">VAKKO</h3>
  <p style="text-align: center;">Emre Guven</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag "vakko_header.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "vakko1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "vakko2.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "vakko3.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "vakko4.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "vakko5.jpg"%></div>
    </div>

    <div class="swiper-button-next swiper-button-black"><i class="fas fa-circle"></i></div>
    <div class="swiper-button-prev swiper-button-black"><i class="fas fa-circle"></i></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
