<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MATHILDE REGNAULT - FASHION STYLIST</title>
    <meta name="description" content="Fashion stylist based in Paris. Working on editorials, lookbooks, campaigns, eshop and videos.">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>

    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <div class="page-container">
        <%= render 'shared/navbar' %>
        <main id="main-content">
          <%= yield %>
        </main>
        <%= render 'shared/footer' %>
      </div>
    <% end %>
    <script src="path/to/swiper.min.js"></script>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
