<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MATHILDE REGNAULT - FASHION STYLIST</title>
    <meta name="description" content="Fashion stylist based in Paris. Working on editorials, lookbooks, campaigns, eshop and videos.">
    <meta property="og:title" content="MATHILDE REGNAULT - FASHION STYLIST" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content= '<%= image_tag("MrSocial.png") %>' />
    <meta property="og:description" content="Fashion stylist based in Paris. Working on editorials, lookbooks, campaigns, eshop and videos." />
    <%= favicon_link_tag asset_path('') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <!-- <%#= stylesheet_pack_tag 'application', media: 'all' %> Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <%= render 'shared/navbar' %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    <% end %>
    <script src="path/to/swiper.min.js"></script>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  </body>
</html>
